
*, body{
box-sizing: border-box;
}

.container  {
    width: 100%;
}

section {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #444;
}

.block {
    width: 75px;
    height: 75px;
    margin: 25px;
    border: 2px solid #333;
}

.active {
    background: orange;
}

.hide {
    display: none;
}


/* Клавиатура */
.keyboard {
    margin: 20px auto;
    /* height: 300px; */
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.keyboard__row{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    /* flex-direction: row nowrap; */
}
/* нижний ряд */
.funckey{
    display: flex;
    flex-flow: row nowrap;
    justify-content: inherit;
    flex: 1 0 auto;
    margin-right: 13px;
}
/* стрелки */
.arrow{
    /* background: #fff999; */
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 240px;
    /* flex-basis: 240px; */
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.key-el {
    border: 1px solid rgb(42, 70, 111);
    background:#71ba99;
    padding: 14px 29px;
    border-radius: 10px;
}
.arrow__col{
    display: flex;
    flex-flow: column nowrap;
}
.arrowy{
    border-radius: 10px; 
    background: #71ba99;
    padding: 10px 13px;
    margin-bottom: 3px;
    border: 1px solid rgb(42, 70, 111);

}
.arrowy__up, .arrowy__down {
    padding: 2px;
}
.space{
    min-width: 300px;
}
.hold {
    /* background: #656565; */
    background-color: #026739;
    color: aliceblue;
}
